In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset=pd.read_csv("Placement.csv")

In [3]:
dataset

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

In [4]:
dataset.isnull().sum()

sl_no              0
gender             0
ssc_p              0
ssc_b              0
hsc_p              0
hsc_b              0
hsc_s              0
degree_p           0
degree_t           0
workex             0
etest_p            0
specialisation     0
mba_p              0
status             0
salary            67
dtype: int64

In [14]:
dataset[dataset.duplicated()]

Empty DataFrame
Columns: [sl_no, gender, ssc_p, ssc_b, hsc_p, hsc_b, hsc_s, degree_p, degree_t, workex, etest_p, specialisation, mba_p, status, salary]
Index: []

In [ ]:
dataset=dataset.drop

In [5]:
dataset['salary'].fillna(0,inplace=True)

C:\Users\argka\AppData\Local\Temp\ipykernel_23328\4086041696.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset['salary'].fillna(0,inplace=True)

In [6]:
dataset.isnull().sum()

sl_no             0
gender            0
ssc_p             0
ssc_b             0
hsc_p             0
hsc_b             0
hsc_s             0
degree_p          0
degree_t          0
workex            0
etest_p           0
specialisation    0
mba_p             0
status            0
salary            0
dtype: int64

In [7]:
df=pd.DataFrame(dataset)

In [8]:
df = pd.get_dummies(df, drop_first=True)

In [9]:
# Compute correlation matrix
correlations = df.corr()

# Extract correlation of all features with salary
salary_correlation = correlations['salary'].sort_values(ascending=True)

# Print the correlations
print("Correlation of parameters with salary:")
print(salary_correlation)

Correlation of parameters with salary:
specialisation_Mkt&HR   -0.275766
degree_t_Others         -0.107139
sl_no                    0.002543
hsc_b_Others             0.011544
hsc_s_Commerce           0.015239
hsc_s_Science            0.026890
ssc_b_Others             0.034594
degree_t_Sci&Tech        0.079351
mba_p                    0.139823
gender_M                 0.143110
etest_p                  0.186988
workex_Yes               0.298285
degree_p                 0.408371
hsc_p                    0.452569
ssc_p                    0.538090
status_Placed            0.865774
salary                   1.000000
Name: salary, dtype: float64

In [10]:
dataset['status'].value_counts()

status
Placed        148
Not Placed     67
Name: count, dtype: int64

In [11]:
correlation = df['mba_p'].corr(df['salary'])
print("Correlation:", correlation)

Correlation: 0.13982273892615565

In [12]:
max_salaries = df.groupby('specialisation')['salary'].max()

KeyError: 'specialisation'

In [ ]:
specialization_min_salary = min_salaries.idxmax()  # Returns specialization with minimum salary
min_salary = min_salaries.min()  # Returns the minimum salary itself

In [ ]:
specialization_min_salary

In [ ]:
min_salary

In [ ]:
dir('datatype')

In [ ]:
salaries = df['salary'].to_numpy()
min_index = np.argmin(salaries)

In [ ]:
min_index

In [ ]:
specialisation_min = df.loc[min_index, 'specialisation']
min_salary = salaries[min_index]

In [ ]:
min_salary

In [ ]:
specialisation_min

In [ ]:
min_salary_row = df.loc[df['salary'].idxmin()]

In [ ]:
specialisation_min_salary = min_salary_row['specialisation']
min_salary = min_salary_row['salary']

In [ ]:
specialisation_min_salary

In [ ]:
min_salary

In [ ]:
above_5_lakhs = df[df['salary'] > 500000].shape[0]
print("Number of employees making more than 500000:", above_5_lakhs)

In [ ]:
from scipy.stats import ttest_ind
dataset=dataset.dropna()
degree = dataset[dataset['degree_t']=='Sci&Tech']['salary']
special= dataset[dataset['specialisation']=='Mkt&HR']['salary']
#print(male)
ttest_ind(degree, special)

In [ ]:
from scipy.stats import zscore

# Standardize the Salary column
Standardized_Salary= zscore(df['ssc_p'])

In [ ]:
Standardized_Salary

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Assuming your z-scores are in a pandas Series called 'salary_z_scores'
sns.histplot(Standardized_Salary, bins=30, kde=True, color='blue')  # kde=True adds a density curve
plt.title('Distribution of Z-Scores')
plt.xlabel('Z-Score')
plt.ylabel('Frequency')
plt.show()

In [ ]:
def stdNBgraph(dataset):
        # Coverted to standard Normal Distribution
    import seaborn as sns
    mean=dataset.mean()
    std=dataset.std()

    values=[i for i in dataset]

    z_score=[((j-mean)/std) for j in values]

    sns.distplot(z_score,kde=True)

    sum(z_score)/len(z_score)
    #z_score.std()

In [ ]:
stdNBgraph(dataset["salary"])

In [ ]:
dataset["salary"].mean()

In [ ]:
dataset["salary"].std()

In [ ]:
dataset["salary"].max()

In [ ]:
salaries = [700000, 750000, 800000, 850000, 900000]

In [ ]:
mean_salary = np.mean(salaries)
print(f"Mean Salary: {mean_salary}")

In [ ]:
std_salary = np.std(salaries)
print(f"std Salary: {std_salary}")

In [ ]:
pdf_start = norm.pdf(700000, mean_salary, std_salary)
pdf_end = norm.pdf(900000,  mean_salary, std_salary)

In [ ]:
pdf_start

In [ ]:
cdf_start = norm.cdf(700000, mean_salary, std_salary)
cdf_end = norm.cdf(900000,  mean_salary, std_salary)

In [ ]:
probability = cdf_end - cdf_start

In [ ]:
probability

In [ ]:
import numpy as np
from scipy.stats import norm

# Example data
salary = df['salary'].dropna()  # Drop missing values

# Calculate mean and standard deviation
mu = salary.mean()
sigma = salary.std()

# Calculate probabilities
prob_start = norm.cdf(700000, loc=mu, scale=sigma)
prob_end = norm.cdf(900000, loc=mu, scale=sigma)

# Probability for the range
prob_range = prob_end - prob_start

print(f"Probability of salary between 7L and 9L: {prob_range:.4f}")

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Load salary data, dropping NaN values
salary = df['salary'].dropna()

# Set up the figure
plt.figure(figsize=(12, 6))

# Subplot 1: Histogram of Salary
plt.subplot(1, 2, 1)
sns.histplot(salary, bins=15, kde=True, color='blue')
plt.title('Salary Distribution')
plt.xlabel('Salary')
plt.ylabel('Frequency')



# Show the plots
plt.tight_layout()
plt.show()

In [ ]:
# Count of students with and without work experience in both groups
workex_impact = df.groupby(['status', 'workex'])['sl_no'].count().unstack()

# Plot
workex_impact.plot(kind='bar', figsize=(8, 5), stacked=True, color=['#4CAF50', '#FFC107'])
plt.title('Impact of Work Experience on Placement')
plt.xlabel('Placement Status')
plt.ylabel('Count of Students')
plt.legend(title='Work Experience')
plt.show()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Separate the dataset into placed and not placed
placed = df[df['status'] == 'Placed']
not_placed = df[df['status'] == 'Not Placed']

# Compare key features
features = ['ssc_p', 'hsc_p', 'etest_p', 'mba_p']
summary = pd.DataFrame({
    'Placed_Mean': placed[features].mean(),
    'Not_Placed_Mean': not_placed[features].mean(),
    'Difference': placed[features].mean() - not_placed[features].mean()
})

print("Comparison of features between Placed and Not Placed students:")
print(summary)

# Plot the differences
plt.figure(figsize=(10, 6))
sns.barplot(x=summary.index, y=summary['Difference'], palette='coolwarm')
plt.title('Difference in Key Features Between Placed and Not Placed Students')
plt.xlabel('Features')
plt.ylabel('Mean Difference')
plt.axhline(0, color='black', linestyle='--')
plt.show()

In [ ]:
# Visualization
min_salary_by_specialisation.plot(kind='bar', color=['skyblue', 'lightcoral'], figsize=(8, 5))
plt.title('Minimum Salary by MBA Specialisation')
plt.xlabel('Specialisation')
plt.ylabel('Minimum Salary')
plt.xticks(rotation=0)
plt.show()