In [1]:
import pandas as pd
import numpy as np
marks=[[1,2,3],[6,7,8],[9,10,11]]
df=pd.DataFrame(marks,columns=['mat','eng','gs'])
print(df)
list=[9,8,7]
[l*4 for l in list]

   mat  eng  gs
0    1    2   3
1    6    7   8
2    9   10  11

[36, 32, 28]

In [2]:
list=['apple','bana','grapes']
color=['red','yellow','violet']
my_dict={k:v for k,v in zip (list,color)}
print(my_dict)
sample=my_dict
print(sample)
fruits={'apple':['red'], 'bana': ['yellow'], 'grapes': ['violet']}
df=pd.DataFrame.from_dict(fruits)
print(df)

{'apple': 'red', 'bana': 'yellow', 'grapes': 'violet'}
{'apple': 'red', 'bana': 'yellow', 'grapes': 'violet'}
  apple    bana  grapes
0   red  yellow  violet

In [3]:
my_dict = {'col1': [1, 2, 3], 'col2': ['a', 'b', 'c']}
df = pd.DataFrame.from_dict(my_dict)
print(df)

   col1 col2
0     1    a
1     2    b
2     3    c

In [4]:
#converting list to tuple
list=[33,77,88,99,55]
list_tuple=tuple(list)
print(list_tuple)

(33, 77, 88, 99, 55)

In [5]:
#extracting values ,keys,items from d
from builtins import list
from builtins import dict
dict={"a":13,"b":45,"c":56}
output=zip(dict.keys(),dict.values())
list1=list(output)
print(list1)
nos={3,4,5}
veg={'car','feb','nou'}
final=dict(zip(nos,veg))
print(final)

[('a', 13), ('b', 45), ('c', 56)]

TypeError: 'dict' object is not callable

In [ ]:
course={'ML','DS','DL'}
course_set=tuple(course)
print(course_set)

In [ ]:
import pandas as pd
df=pd.DataFrame({'A':{0:'kavi',1:'kartik',2:'krish'},'B':{0:'master',1:'graduate',2:'phd'},'C':{0:21,1:34,2:32}})
df

In [ ]:
df.pivot('A','B')

In [ ]:
pd.melt(df,id_vars=['Name'], value_vars=['course','age'])

In [6]:
dataset=pd.read_csv("Placement.csv")

In [12]:
dataset

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

In [15]:
df=pd.DataFrame(dataset)
df[bins]= pd.cut(x=df['hsc_p(1-100)'],bin=[1,10,20,30,40,50,60,70,80,90,100])
df.head()

KeyError: 'hsc_p(1-100)'