#scattterplot

In [ ]:
sns.relplot(x='ssc_p',y='degree_p',kind='line',hue='salary',data=dataset)

In [ ]:
dataset.tail()

In [ ]:
dataset["salary"].fillna(0,inplace=True)

In [ ]:
dataset.isnull().sum()

In [ ]:
dataset.status

In [ ]:
dataset.columns

In [ ]:
dataset['status'].nunique()

In [ ]:
dataset['degree_t'].nunique()

In [ ]:
pd.value_counts(dataset['status'])

In [ ]:
dataset.salary

In [ ]:
salaries=dataset.salary

In [ ]:
salaries

In [ ]:
max_salary=salaries.max()

In [ ]:
max_salary

In [ ]:
df = pd.DataFrame(dataset)
above_5_lakhs = df[df['salary'] > 500000].shape[0]
print("Number of employees making more than 500000:", above_5_lakhs)

In [ ]:
dataset

In [ ]:
min_salary=salaries.min()

In [ ]:
min_salary

In [ ]:
dataset.specialisation

In [ ]:
dataset['specialisation'].nunique()

In [ ]:
min_salary = df[df['salary'] == df['salary'].min()]
min_salary_spec = min_salary['specialisation'].values[0]

In [ ]:
min_salary_spec

In [ ]:
dataset[dataset["gender"]=="F"]["salary"]

In [2]:
import seaborn as snsÂ  

sns.scatterplot(x='mba_p', y='Salary', data=df)
plt.show()

SyntaxError: invalid non-printable character U+00A0 (959966966.py, line 1)

In [1]:
dataset.corr()

NameError: name 'dataset' is not defined